<!-- 
This module, Customer Service, is by MarketInSG (http://www.marketinsg.com)
//-->
<div class="list-group">
  <a href="{{ contact }}" class="list-group-item">{{ text_contact }}</a>
  <a href="{{ return }}" class="list-group-item">{{ text_returns }}</a>
  <a href="{{ sitemap }}" class="list-group-item">{{ text_sitemap }}</a>
</div>