<form action="{{action}}" method="post">
  <input type="hidden" name="merchantId" value="{{ merchantId }}" />
  <input type="hidden" name="amount" value="{{amount}}" />
  <input type="hidden" name="referenceNo" value="{{referenceNo}}" />
  <input type="hidden" name="billingContactName" value="{{billingContactName }}" />
  <input type="hidden" name="billingAddress" value="{{billingAddress }}" />
  <input type="hidden" name="billingCity" value="{{ billingCity }}" />
  <input type="hidden" name="billingState" value="{{billingState }}" />



  <input type="hidden" name="referenceNo" value="{{referenceNo}}" />
  <input type="hidden" name="apiVersion" value="{{apiVersion }}" />
  <input type="hidden" name="outletId" value="{{ outletId }}" />
  <input type="hidden" name="currencyCode" value="{{currencyCode}}" />
  <input type="hidden" name="locale" value="{{locale}}" />
  <input type="hidden" name="channel" value="{{channel }}" />
  

  <input type="hidden" name="billingPostalCode" value="{{billingPostalCode }}" />
  <input type="hidden" name="billingCountry" value="{{billingCountry}}" />
  <input type="hidden" name="billingEmail" value="{{billingEmail }}" />
  <input type="hidden" name="billingPhone" value="{{billingPhone}}" />
  <input type="hidden" name="shippingPhone" value="{{billingPhone }}" />
  <input type="hidden" name="shippingAddress" value="{{shippingAddress}}" />
  <input type="hidden" name="shippingContactName" value="{{shippingContactName}}" />
  <input type="hidden" name="shippingEmail" value="{{shippingEmail }}" />
  <input type="hidden" name="shippingCity" value="{{shippingCity }}" />
  <input type="hidden" name="shippingState" value="{{shippingState }}" />
  <input type="hidden" name="shippingPostalCode" value="{{shippingPostalCode}}" />
  <input type="hidden" name="shippingCountry" value="{{shippingCountry }}" />
  <input type="hidden" name="secureHash" value="{{ secureHash }}" />
  <input type="hidden" name="description" value="{{description }}" />
  
  
  
  <input type="hidden" name="responseURL" value="{{responseURL }}" />
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{button_confirm}}" class="btn btn-primary" />
    </div>
  </div>
</form>
