  <form action="{{ action }}" method="post" id="pz_form" name="pz_form" >
		<input type="hidden" name="toid" value="{{ toid }}" />
		<input type="hidden" name="key" value="{{ key }}" />
		<input type="hidden" name="totype" value="{{ totype }}" />
		<input type="hidden" name="partenerid" value="{{ partenerid }}" />
		<input type="hidden" name="ipaddr" value="{{ ipaddr }}" />
		<input type="hidden" name="cardtype" value="{{ cardtype }}" />
		<input type="hidden" name="paymenttype" value="{{ paymenttype }}" />
		<input type="hidden" name="reservedField1" value="{{ reservedField1 }}" />
		<input type="hidden" name="pctype" value="{{ pctype }}" />
		<input type="hidden" name="reservedField2" value="{{ reservedField2 }}" />
		<input type="hidden" name="currency" value="{{ currency }}" />
		<input type="hidden" name="redirecturl" value="{{ redirecturl }}" />
		<input type="hidden" name="amount" value="{{ amount }}" />
		<input type="hidden" name="description" value="{{ description }}" />
		<input type="hidden" name="testurl" value="{{ testurl }}" />
		<input type="hidden" name="liveurl" value="{{ liveurl }}" />

		<input type="hidden" name="firstname" value="{{ firstname }}" />
		<input type="hidden" name="Lastname" value="{{ Lastname }}" />
		<input type="hidden" name="Zipcode" value="{{ Zipcode }}" />
		<input type="hidden" name="TMPL_zip" value="{{ TMPL_zip }}" />
		<input type="hidden" name="zip" value="{{ zip }}" />
		<input type="hidden" name="email" value="{{ email }}" />
		<input type="hidden" name="phone" value="{{ phone }}" />
		<input type="hidden" name="telnocc" value="{{ telnocc }}" />
		<input type="hidden" name="TMPL_telnocc" value="{{ TMPL_telnocc }}" />
		<!-- <input type="hidden" name="surl" value="{{ surl }}" /> -->
		<!-- <input type="hidden" name="Furl" value="{{ Furl }}" /> -->
		<!-- <input type="hidden" name="curl" value="{{ curl }}" /> -->
		<input type="hidden" name="checksum" value="{{ checksum }}" />
		<!-- <input type="hidden" name="Hash" value="{{ Hash }}" /> -->
		<!-- <input type="hidden" name="Pg" value="{{ Pg }}" /> -->
		<!-- <input type="hidden" name="service_provider" value="{{ service_provider }}" /> -->
		<input type="hidden" name="street" value="{{ street }}" />
        <input type="hidden" name="address2" value="{{ address2 }}" />
        <input type="hidden" name="city" value="{{ city }}" />
        <input type="hidden" name="country" value="{{ country }}" />
        <input type="hidden" name="state" value="{{ state }}" />
		<!-- <input type="hidden" name="udf5" value="{{ udf5 }}" /> -->
		<div class="buttons">
    <div class="pull-right"><input type="submit" value="{{ button_confirm }}" class="btn btn-primary" /></div>
  </div>
	</form>	
	
	