{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right form-inline">
        {%  if stores|length > 1 %}
        <select class="form-control" onChange="location='{{ module_link }}&store_id='+$(this).val()">
         {% for store in stores %}
         {% if (store['store_id'] == store_id) %}
         <option value="{{ store['store_id'] }}" selected="selected" >{{ store['name'] }}</option>
         {% else %}
         <option value="{{ store['store_id'] }}" >{{ store['name'] }}</option>
         {% endif %}
         {% endfor %}
        </select>
        {% endif %}
        {% if (module_id != 0) %}
            <button id="save_and_stay" data-toggle="tooltip" title="{{ button_save_and_stay }}" class="btn btn-success"><i class="fa fa-save"></i></button>
        {% endif %}
        <button id="save_and_exit" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }} {{ version }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if (success) %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_setting" data-toggle="tab">
                    <span class="fa fa-cog"></span>
                    {{ text_settings }}
                </a></li>
                <li><a href="#tab_design" data-toggle="tab">
                    <span class="fa fa-eye"></span>
                    {{ text_design }}
                </a></li>
                <li><a href="#tab_instruction" data-toggle="tab">
                    <span class="fa fa-graduation-cap"></span>
                    {{ text_instructions }}
                </a></li>
            </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab_setting">
                <div class="tab-body">
                    <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="{{ id }}[name]" value="{{ setting['name'] }}" placeholder="{{ entry_name }}" id="input_name" class="form-control" />
                            {% if (error_name) %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="input_status">{{ entry_status }}</label>
              <div class="col-md-10">
                    <input type="hidden" name="{{ id }}[status]" value="0" />
                    <input type="checkbox" class="switcher" id="input_status" name="{{ id }}[status]" {{ setting['status'] ? 'checked="checked"':'' }} value="1" />
              </div>
          </div> <!--status-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table id="table_social_likes">
                                <thead>
                                    <tr>
                                        <td><label class="control-label">{{ text_sort_order }}</label></td>
                                        <td><label class="control-label">{{ entry_icon_color }}</label></td>
                                        <td><label class="control-label">{{ entry_icon_color_active }}</label></td>
                                        <td><label class="control-label">{{ entry_background_color }}</label></td>
                                        <td><label class="control-label">{{ entry_background_color_active }}</label></td>
                                        <td><label class="control-label"><span data-toggle="tooltip" title="{{ help_width }}">{{ entry_width }}</span></label></td>
                                        <td><label class="control-label"><span data-toggle="tooltip" title="{{ help_api }}">{{ entry_api }}</span></label></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="social_likes" class="sortable">
                                {% for social_like in setting['social_likes'] %}
                                    {% if (social_like['id'] is not empty) %}
                                    <tr class="sort-item" data-sort-order="{{ social_like['sort_order'] }}">
                                        <td>
                                            <input type="hidden" name="{{ id }}[social_likes][{{ social_like['id'] }}][enabled]" value="0" />
                                            <input type="checkbox" name="{{ id }}[social_likes][{{ social_like['id'] }}][enabled]" {{ social_like['enabled']? 'checked="checked"':'' }} value="1" id="{{ id }}_settings_social_likes_{{ social_like['id'] }}_enabled" class="switcher" data-size="mini"/>

                                            <label class="label-top" for="{{ id }}_social_likes_{{ social_like['id'] }}_enabled"><i class="{{ social_like['icon'] }}"></i>{{ attribute(_context, 'text_'~social_like['id']) }}</label>
                                            <input type="hidden" name="{{ id }}[social_likes][{{ social_like['id'] }}][sort_order]" class="sort-value" value="{{ social_like['sort_order'] }}" />
                                        </td>
                                        <td>
                                            <div class="input-group color-picker">
                                                <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][icon_color]" class="form-control" value="{{ social_like['icon_color'] }}" />
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group color-picker">
                                                <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][icon_color_active]" class="form-control" value="{{ social_like['icon_color_active'] }}" />
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group color-picker">
                                                <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][background_color]" class="form-control" value="{{ social_like['background_color'] }}" />
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group color-picker">
                                                <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][background_color_active]" class="form-control" value="{{ social_like['background_color_active'] }}" />
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][width]" class="form-control" value="{{ social_like['width'] }}" placeholder="{{ text_width }}" size="4"/>
                                        </td>
                                        <td>
                                            {% if (social_like['api'] is defined) %}
                                                <input type="text" name="{{ id }}[social_likes][{{ social_like['id'] }}][api]" class="form-control api" value="{{ social_like['api'] }}" size="4"/>
                                            {% endif %}
                                        </td>
                                        <td><i class="icon-drag fa fa-bars"></i></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-language">{{ entry_language }}</label>
                        <div class="col-sm-10">
                            <select name="{{ id }}[language_id]" id="input_language" class="form-control">
                            {% for language in languages %}
                            {% if (language['language_id'] == setting['language_id']) %}
                                <option value="{{ language['language_id'] }}" selected="selected">{{ language['name'] }}</option>
                            {% else %}
                                <option value="{{ language['language_id'] }}">{{ language['name'] }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-store">{{ entry_store }}</label>
                        <div class="col-sm-10">
                            <select name="{{ id }}[store_id]" id="input_store" class="form-control">
                            {% for store in stores %}
                            {% if (store['store_id'] == setting['store_id']) %}
                                <option value="{{ store['store_id'] }}" selected="selected">{{ store['name'] }}</option>
                            {% else %}
                                <option value="{{ store['store_id'] }}">{{ store['name'] }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if (config_files) %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-config"><span data-toggle="tooltip" title="{{ help_config_files }}">{{ entry_config_files }}</span></label>
                        <div class="col-sm-10">
                          <select name="{{ id }}[config]" id="input_config_file" class="form-control">
                            {% for config_file in config_files %}
                            <option value="{{ config_file }}" {{ config_file == config? 'selected="selected"' : '' }}>{{ config_file }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-url"><span data-toggle="tooltip" title="{{ help_url }}">{{ entry_url }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="{{ id }}[url]" value="{{ setting['url'] }}" placeholder="{{ entry_url }}" class="form-control"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_design">
                <div class="tab-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-view">{{ entry_view }}</label>
                        <div class="col-sm-10">
                            <select name="{{ id }}[view_id]" class="form-control">
                                {% for view in views %}
                                {% if (view['view_id'] == setting['view_id']) %}
                                    <option value="{{ view['view_id'] }}" selected="selected">{{ view['name'] }}</option>
                                {% else %}
                                    <option value="{{ view['view_id'] }}">{{ view['name'] }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-theme"><span data-toggle="tooltip" title="{{ help_icon_theme }}">{{ entry_icon_theme }}</span></label>
                        <div class="col-sm-10">
                            <select name="{{ id }}[design][icon_theme]" class="form-control">
                            {% for icon_theme in icon_themes %}
                                <option {{ setting['design']['icon_theme'] == icon_theme ? 'selected="selected"' : '' }} value="{{ icon_theme }}">{{ icon_theme }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-background-color">{{ entry_background_color }}</label>
                        <div class="input-group color-picker col-sm-2"><input type="text" name="{{ id }}[design][background_color]" class="form-control" value="{{ setting['design']['background_color']}}"/><span class="input-group-addon"><i></i></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-border">{{ entry_border }}</label>
                        <div class="col-sm-10"><input type="hidden" name="{{ id }}[design][border]" value="0" />
                        <input type="checkbox" name="{{ id }}[design][border]" {{ setting['design']['border'] ? 'checked="checked"' : '' }} value="1" class="switcher"/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-border-color">{{ entry_border_color }}</label>
                        <div class="input-group color-picker col-sm-2"><input type="text" name="{{ id }}[design][border_color]" class="form-control" value="{{ setting['design']['border_color']}}"/><span class="input-group-addon"><i></i></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-box-shadow">{{ entry_box_shadow }}</label>
                        <div class="col-sm-10">
                        <input type="hidden" name="{{ id }}[design][box_shadow]" value="0" />
                        <input type="checkbox" name="{{ id }}[design][box_shadow]" {{ setting['design']['box_shadow'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-shadow-color">{{ entry_box_shadow_color }}</label>
                        <div class="input-group color-picker col-sm-2"><input type="text" name="{{ id }}[design][box_shadow_color]" class="form-control" value="{{ setting['design']['box_shadow_color']}}"/><span class="input-group-addon"><i></i></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-border-radius">{{ entry_border_radius }}</label>
                        <div class="col-sm-2">
                        <input type="hidden" name="{{ id }}[design][border_radius]" value="0" />
                        <input type="checkbox" name="{{ id }}[design][border_radius]" {{ setting['design']['border_radius'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-mobile">{{ entry_popup_mobile }}</label>
                        <div class="col-sm-2">
                        <input type="hidden" name="{{ id }}[design][popup_mobile]" value="0" />
                        <input type="checkbox" name="{{ id }}[design][popup_mobile]" {{ setting['design']['popup_mobile'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-style"><span data-toggle="tooltip" title="{{ help_custom_style }}">{{ entry_custom_style }}</span></label>
                        <div class="col-sm-10"><textarea name="{{ id }}[design][custom_style]" id="design_custom_style" class="form-control">{{ setting['design']['custom_style'] }}</textarea></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_instruction">
                <div class="tab-body">{{ text_instructions_full }}</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript">

    $('.switcher[type=checkbox]').bootstrapSwitch({
        'onColor': 'success',
        'onText': '{{ text_yes }}',
        'offText': '{{ text_no }}'
    });

    $('.color-picker').colorpicker();

    $('#social_likes > .sort-item').tsort({attr:'data-sort-order'});

    Sortable.create(social_likes, {
        group: "sorting",
        sort: true,
        animation: 150,
        handle: ".icon-drag",
        onUpdate: function (event){
            $('#social_likes').find('.sort-item').each(function (i, row) {
                $(row).find('.sort-value').val(i)
            })
        }
    });

</script>
<script type="text/javascript"><!--
function showAlert(json) {
    $('.alert, .text-danger').remove();
    $('.form-group').removeClass('has-error');

    if (json['error']) {
        if (json['error']['warning']) {
            $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }

        for (i in json['error']) {
            var element = $('#input_' + i);

            if (element.parent().hasClass('input-group')) {
                $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
            } else {
                $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
            }
        }

        $('.text-danger').parentsUntil('.form-group').parent().addClass('has-error');
    }

    if (json['success']) {
        $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }
}
</script>
<script type="text/javascript"><!--
$('body').on('click', '#save_and_stay', function(){
    $.ajax({
        type: 'post',
        url: $('#form').attr('action'),
        data: $('#form').serialize(),
        dataType: 'json',
        beforeSend: function() {
            $('#content').fadeTo('slow', 0.5);
        },
        complete: function() {
            $('#content').fadeTo('slow', 1);
        },
        success: function(json) {
            showAlert(json);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('body').on('click', '#save_and_exit', function(){
    $.ajax({
        type: 'post',
        url: $('#form').attr('action')+'&exit',
        data: $('#form').serialize(),
        dataType: 'json',
        beforeSend: function() {
            $('#content').fadeTo('slow', 0.5);
        },
        complete: function() {
            $('#content').fadeTo('slow', 1);
        },
        success: function(json) {
            showAlert(json);
            if (json['success']) location = '{{ get_cancel }}';
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('body').on('click', '#button_update', function(){
    $.ajax({
        url: '{{ get_update }}',
        type: 'post',
        dataType: 'json',

        beforeSend: function() {
            $('#button_update').find('.fa-refresh').addClass('fa-spin');
        },

        complete: function() {
            $('#button_update').find('.fa-refresh').removeClass('fa-spin');
        },

        success: function(json) {
            console.log(json);

            if (json['error']){
                $('#notification_update').html('<div class="alert alert-danger m-b-none">' + json['error'] + '</div>')
            }

            if (json['warning']){
                $html = '';

                if (json['update']){
                    $.each(json['update'] , function(k, v) {
                        $html += '<div>Version: ' +k+ '</div><div>'+ v +'</div>';
                    });
                }
                $('#notification_update').html('<div class="alert alert-warning alert-inline">' + json['warning'] + $html + '</div>')
            }

            if(json['success']){
                $('#notification_update').html('<div class="alert alert-success alert-inline">' + json['success'] + '</div>')
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    })
});

$('#input_config_file').on('change', function(){
    var config = $('#input_config_file').val();
    $('#content').append('<form action="{{ module_link }}&module_id={{ module_id }}{{ stores ? "&store_id=' + $('#input_store').val() + '" : '' }}" id="config_update" method="post" style="display:none;"><input type="text" name="config" value="' + config + '" /></form>');
    $('#config_update').submit();
});

</script>
{{ footer }}
